/* ----------------GENERAL---------------- */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #222831;
  color: #eeeeee;
  font-family: 'Texturina', serif;
}
a {
  color: #FFD369;
  /* 19.2px */
  font-size: 1.1em;
  font-weight: bold;
}
a:hover {
  color: #222831;
  background-color: #FFD369;
  text-decoration: none;
}
h2 {
  text-align: center;
}
header {
  text-align: center;
  width: 100%;
}
header p:first-child {
  font-size: 1.5em;
}
hr {
  background-color: #393e46;
  border: none;
}
nav {
  text-align: center;
}
section {
  width: 90%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #d9e4dd;
  /* 6px */
  padding: 0.375em;
  text-align: center;
}
tr:hover {
  background-color: #555555;
}
footer {
  text-align: center;
}
/* ----------------CLASS SELECTORS---------------- */
.home-nav {
  font-size: 1.1em;
}
.line-header {
  /* 3px*/
  height: 0.1875em;
}
.line-after-header {
  /* 50px 0 50px 0 */
  border-radius: 3.125em 0 3.125em 0;
  /* height is 20px */
  height: 1.25em;
  /* 48px */
  margin-top: 3em;
  width: 30%;
}
.after-navbar {
  margin-top: 0;
}
/* ----------------------------------------*/

/* parte de heading */
#heading {
  font-size: 3em;
}
/* ----------------------------------------*/

/* contenedor imagen gif (animación) debajo de nav */
#container-gif-below-nav {
  margin: auto;
  text-align: center;
}
/* ----------------------------------------*/

/* parte de intro */
#intro {
  margin: auto;
  text-align: justify;
}
#intro p {
  /* 20px */
  font-size: 1.250em;
}
/* palabra EXPLORA dentro de intro */
#explore-button-guide {
  color: #FFD369;
  text-decoration: underline;
}
#intro > img {
  display: block;
  margin: auto;
}
#secret-button:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* ----------------------------------------*/

/* parte de services */
#services {
  margin: auto;
}
/* ----------------------------------------*/

/* parte de aboutme */
#aboutme {
  margin: auto;
}
#first-container-in-aboutme {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 60%;
}
#img-work-portfolio {
  /* 224px */
  height: 14em;
  float: left;
  /* 50px */
  margin-right: 3.125em;
  width: 14em;
}
#blogs-container {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 18%;
}
#table-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
#title-table {
  /* 22.5px */
  font-size: 1.406em;
}
/* ----------------------------------------*/

/* parte de contactme */
#contactme {
  margin: auto;
  width: 40%;
}
label {
  color: #bedbbb;
  /* 19px */
  font-size: 1.188em;
}
input[type=text], input[type=email], input[type=tel], textarea {
  background-color: #707070;
  /* 1px */
  border: 0.063 solid #bedbbb;
  box-sizing: border-box;
  color: #bedbbb;
  display: inline-block;
  font-family: 'Texturina', serif;
  font-size: 1em;
  padding: 0.500em;
  width: 100%;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus  {
  background-color: #bedbbb;
  border: .250em solid #707070;
  color: #222831;
}
input[type=submit], input[type=reset] {
  background-color: bedbbb;
  border: none;
  border-radius: 0.375em;
  color: #222831;
  cursor: pointer;
  font-family: 'Texturina', serif;
  /* 20px */
  font-size: 1.250em;
  /* top 10px bottom 12px right/left 8px */
  padding: 0.625em 0.500em 0.750em 0.500em;
  width: 30%;
}
input[type=file], input[type=date] {
  background-color: #707070;
  /* 1px */
  border: 0.063 solid #bedbbb;
  box-sizing: border-box;
  color: #bedbbb;
  display: inline-block;
  font-family: 'Texturina', serif;
  font-size: 1em;
  padding: 0.250em;
}
input[type=date] {
  float: left;
}
input[type=submit]:hover, input[type=reset]:hover {
  background-color: #8db596;
  border: 4px solid black;
}
input[type=reset] {
  float: left;
}
input[type=submit] {
  float: right;
}
textarea {
  height: 5.000em;
}
/* ----------------------------------------*/

/* Media Queries */
@media  (max-device-width: 360px){
  body {
    background-color: #e6d5b8;
    color: #1c2b2d;
    font-family: 'Ranchers', cursive;
    letter-spacing: 3px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    margin: auto;
    width: 95%;
  }
  a {
    color: #1f6f8b;
  }
  a:active {
    background-color: #99a8b2;
  }
  img {
    text-align: center;
    width: 50%;
  }
  #heading {
    font-size: 1.5em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #1f6f8b;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: none;
  }
  .download-cv {
    background-color: #fdb827;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
    color: #1c2b2d;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #99a8b2;
    color: #1c2b2d;
    font-family: 'Ranchers', cursive;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #1c2b2d;
    font-family: 'Ranchers', cursive;
  }
}
@media  (max-device-width: 450px){
  body {
    background-color: #ffe3d8;
    color: #0a043c;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    margin: auto;
    width: 95%;
  }
  a {
    color: #03506f;
  }
  a:active {
    background-color: #bbbbbb;
  }
  img {
    text-align: center;
    width: 50%;
  }
  #heading {
    font-size: 1.5em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #03506f;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: none;
  }
  .download-cv {
    background-color: #fdb827;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
    color: #0a043c;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #bbbbbb;
    color: #0a043c;
    font-family: 'Russo One', sans-serif;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #0a043c;
    font-family: 'Russo One', sans-serif;
  }
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
  body {
    background-color: #f4f4f4;
    color: #1a1c20;
    font-family: 'Lekton', sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    margin: auto;
    width: 95%;
  }
  a {
    color: #cf7500;
  }
  a:active {
    background-color: #f0a500;
  }
  img {
    text-align: center;
    width: 50%;
  }
  #heading {
    font-size: 1.8em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #cf7500;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: none;
  }
  tr:hover {
    background-color: #f6f5f5;
  }
  .download-cv {
    background-color: #fdb827;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
   color: #1a1c20;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #bbbbbb;
    color: #1a1c20;
    font-family: 'Lekton', sans-serif;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #1a1c20;;
    font-family: 'Lekton', sans-serif;
  }
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
  body {
    background-color: #f4f4f4;
    color: #1a1c20;
    font-family: 'Lekton', sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    margin: auto;
    width: 95%;
  }
  a {
    color: #cf7500;
  }
  a:active {
    background-color: #f0a500;
  }
  img {
    text-align: center;
    width: 50%;
  }
  #heading {
    font-size: 1.7em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #cf7500;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: none;
  }
  tr:hover {
    background-color: #f6f5f5;
  }
  .download-cv {
    background-color: #fdb827;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
   color: #1a1c20;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #bbbbbb;
    color: #1a1c20;
    font-family: 'Russo One', sans-serif;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #1a1c20;;
    font-family: 'Russo One', sans-serif;
  }
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
  body {
    background-color: #f4f4f4;
    color: #1a1c20;
    font-family: 'Lekton', sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    margin: auto;
    width: 95%;
  }
  a {
    color: #cf7500;
  }
  a:active {
    background-color: #f0a500;
  }
  img {
    text-align: center;
    width: 50%;
  }
  #heading {
    font-size: 1.8em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #cf7500;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: none;
  }
  tr:hover {
    background-color: #f6f5f5;
  }
  .download-cv {
    background-color: #fdb827;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
   color: #1a1c20;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #bbbbbb;
    color: #1a1c20;
    font-family: 'Lekton', sans-serif;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #1a1c20;;
    font-family: 'Lekton', sans-serif;
  }
}
@media  (min-device-width: 768px) and (max-device-width: 850px){
  body {
    background-color: #e8e8e8;
    color: #515070;
    font-family: 'Mirza', cursive;
    letter-spacing: 1px;
    margin: 0 auto;
    width:100%;
  }
  .profile-data  {
    background-color: #fdb827;
    font-size: 1.4em;
    margin: auto;
    padding-bottom: 0.9rem;
    width: 95%;
  }
  a {
    color: #cf7500;
    font-size: 1.5em;
  }
  a:active {
    background-color: #f0a500;
  }
  .home-nav {
    font-size: 1.5em;
  }
  img {
    text-align: center;
    width: 40%;
  }
  #heading {
    font-size: 2.5em;
    text-align: center;
  }
  nav {
    margin-top: 1.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  p, ul li, ol li, input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    font-size: 1.4em;
  }
  #container-gif-below-nav {
    display: none;
  }
  #explore-button-guide {
    color: #cf7500;
  }
  .line-after-header {
    width: 90%;
  }
  .after-navbar {
    margin-top: 2em;
  }
  ul {
    padding-left: 15px;
  }
  ul li {
    list-style-type: circle;
  }
  #first-container-in-aboutme {
    width: 100%;
  }
  #img-work-portfolio {
    width: 35%;
    margin-left: 10px;
  }
  ol li {
    list-style-type: none;
  }
  #blogs-container {
    width: 100%;
  }
  table {
    display: table;
  }
  tr:hover {
    background-color: #f6f5f5;
  }
  .download-cv {
    background-color: #fdb827;
    padding-bottom: 0.0625rem;
  }
  .cv-link {
    font-size: 1.4rem;
  }
  #contactme {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  label {
   color: #1a1c20;
  }
  input[type=text], input[type=email], input[type=tel],input[type=file], input[type=date], textarea {
    background-color: #e3dfc8;
    color: #515070;
    font-family: 'Mirza', cursive;
    width: 100%;
  }
  input[type=submit], input[type=reset] {
    background-color: #fdb827;
    border: 1px solid #1c2b2d;
    color: #515070;
    font-family: 'Mirza', cursive;
  }
}
